body {
  background: #a3d2ca; }

nav {
  color: white; }

.navbar {
  background: #056676;
  opacity: 0.9;
  color: white;
  box-shadow: 2px 2px 5px #a3d2ca; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }
    .navbar .nav-item .nav-link {
      color: #e8ded2; }
  .navbar .nav-item:last-child {
    padding-right: 0; }

#showcase .inner {
  height: 700px; }

#showcase .bg-img {
  background: url("../img/img2.jpg");
  background-size: cover; }

#showcase .card {
  margin-top: 500px;
  background: #e8ded2; }
  #showcase .card .card-footer {
    background: #056676; }
    #showcase .card .card-footer .fa {
      color: #e8ded2;
      font-size: 30px; }

#aboutme {
  margin-top: 300px; }
  #aboutme .aboutMe {
    background: #056676;
    font-size: 30px;
    color: #e8ded2;
    padding: 6px; }
  #aboutme hr {
    border-width: 3px;
    margin-top: 3px;
    background: #056676; }

#skills h3 {
  color: #056676; }

#skills .myskills {
  background: #056676;
  font-size: 30px;
  color: #e8ded2;
  padding: 6px; }

#skills hr {
  border-width: 3px;
  margin-top: 3px;
  background: #056676; }

#skills .persentage {
  display: block; }

#skills ul {
  list-style: none;
  margin-left: 0; }

#skills .skill li {
  margin: 20px 0;
  padding-left: 0; }

#skills .skill li:first-child {
  margin: 0; }

#skills .bar {
  background: #056676;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #5eaaa8; }

#skills .bar span {
  height: 10px;
  float: left;
  background: #e8ded2; }

#skills .html {
  width: 90%;
  animation: html 2s; }

#skills .css {
  width: 50%;
  animation: css 2s; }

#skills .javaScript {
  width: 40%;
  animation: javaScript 2s; }

#skills .dotnet {
  width: 70%;
  animation: dotnet 2s; }

#skills img {
  border-radius: 10px;
  height: 270px; }

#testimonial .testimonial {
  background: #056676;
  font-size: 30px;
  color: #e8ded2;
  padding: 6px; }

#testimonial hr {
  border-width: 3px;
  margin-top: 3px;
  background: #056676; }

#testimonial .card-bg {
  background: #056676;
  border-radius: 10px; }

#testimonial .container {
  margin-top: 10%;
  margin-bottom: 10%; }

#testimonial .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -90px; }

#testimonial .carousel-indicators li {
  background: #fff;
  border-radius: 50%;
  width: 15px;
  height: 2px; }

#testimonial .carousel-indicators .active {
  background: #056676; }

#testimonial a {
  text-decoration: none; }

#testimonial a:hover, #testimonial a:focus {
  text-decoration: none; }

#testimonial .img-text {
  margin-top: 70px;
  margin-bottom: 50px;
  width: 100%;
  height: 350px;
  display: block;
  border: 1px solid #fff;
  text-align: center;
  padding: 20% 5%;
  background: #e8ded2;
  color: #056676;
  border-radius: 15px; }

#testimonial .img-text h2 {
  font-size: 30px;
  font-family: big john; }

#testimonial .img-text h3 {
  font-size: 25px;
  font-family: big john; }

#testimonial .img-text img {
  margin-top: -150px;
  height: 100px;
  width: 100px; }

#contact .contact {
  background: #056676;
  font-size: 30px;
  color: #e8ded2;
  padding: 6px; }

#contact hr {
  border-width: 3px;
  margin-top: 3px;
  background: #056676; }

#contact .btn {
  background: #056676;
  color: #e8ded2; }

#contact input, #contact textarea {
  background: #e8ded2; }

#footer-main .footer-bg {
  background: #056676;
  color: #e8ded2; }
  #footer-main .footer-bg a {
    color: #a3d2ca;
    font-size: 30px; }

#mywork .mywork {
  background: #056676;
  font-size: 30px;
  color: #e8ded2;
  padding: 6px; }

#mywork hr {
  border-width: 3px;
  margin-top: 3px;
  background: #056676; }

#mywork .card img {
  height: 300px; }

#mywork .card .card-body {
  background: #e8ded2; }

#mywork .card .btn {
  background: #056676;
  color: #e8ded2; }

@keyframes html {
  0% {
    width: 0%; }
  100% {
    width: 90%; } }

@keyframes css {
  0% {
    width: 0%; }
  100% {
    width: 50%; } }

@keyframes javaScript {
  0% {
    width: 0%; }
  100% {
    width: 40%; } }

@keyframes dotnet {
  0% {
    width: 0%; }
  100% {
    width: 90%; } }
